.App {
  text-align: center;
}

.headStyle{
  background-color: rgb(189, 168, 142);
  font-weight: 500;
  margin: 0 auto;
  border-bottom: 0.4em solid rgb(104, 93, 79);
  text-align: left;
  padding-left: 3em;
}
.Box{
  margin: 0 auto;
  width: 60vh;
  border: 0.4em solid rgb(104, 93, 79);
}
.textStyle{
  background-color: rgb(238, 209, 173);
  width: 99%;
  min-height: 10em;
}
.PreviewBox{
  text-align: left;
  background-color: rgb(180, 147, 106);
  padding: 0.2em;
}